.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.nav-logo p{
    color:black;
    font-size: 38px;
    font-weight: 600    ;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3px;
    cursor: pointer;
}

.nav-menu li{
    border:none;
    width: 80% ;
    height: 3px;
    border-radius: 10px;
    background: red;
    
}